#container {
    text-align: center;
    padding: 20px;
  }
  
  ion-avatar {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
  }
  
  ion-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
    margin-top: 5px;
  }
  
  .nama {
    font-size: 24px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .mhs {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
  }
  
  ion-button {
    margin-top: 1px;
    text-transform: lowercase;
  }
  
  ion-button ion-icon {
    margin-right: 8px;
  }