<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-avatar>
      <img alt="Kosong" src="../../assets/IMG_7685.JPG" />
    </ion-avatar>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="nama">Saufi Apriyandi</h3>
      <h5 class="mhs">Mahasiswa</h5>
    </div>
    <ion-button
      fill="clear"
      href="https://www.instagram.com/saufiapriyandi/"
      ><ion-icon name="logo-instagram"></ion-icon>saufiapriyandi
    </ion-button>
    <ion-button
      fill="clear"
      href="https://web.facebook.com/profile.php?id=100089907257067"
      ><ion-icon name="logo-facebook"></ion-icon>Saufi Apriyandi
    </ion-button>
  </div>
</ion-content>